@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "normalize.css";

:root {
    font-size: 20px;
}

* {
    font-family: 'Montserrat', monospace, sans-serif;
    font-weight: 700;
}

.body, .container {
    background-color: #E5E7EB;
    display: flex;
}

.content {
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: #E5E7EB;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 55vw;
    height: 100%;
    padding: 30px;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #E5E7EB;
}

.intro {
    display: flex;
    padding-top: 20vh;
    width: 100%;
    flex-direction: column;
}

.form {
    display: flex;
    padding: 60px;
    gap: 30px;
    width: 650px;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0 10px 10px -2px rgb(22, 22, 22);
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
}

.form1, .form2 {
    display: flex;
    flex-direction: column;
}

input {
    display: flex;
    border-style: solid;
    border-color: #E5E7EB;
    flex-direction: column;
}

input:focus {
    border: solid 6px turquoise;
    box-shadow: 0 5px 5px -2px rgb(22, 22, 22);
}

input:invalid:not(:placeholder-shown) {
    border: solid red;
}

.createAccount {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 100%;
}

.createAccountBtn {
    background-color: #596D48;
    border-radius: 8px;
    padding: 15px;
    color: white;
    width: 200px;
}

.invalidPW {
    border: solid red;
}

.error {
    position: relative;
    margin-top: -1.5rem;
}
  
.passErrorMsg {
    display: none;
    position: absolute;
    color:rgb(228, 109, 109);
    font-size: 0.8rem;
    left: 0.65rem;
    top: 0.2rem;
}

.left {
    display: flex;
    background-image: url("images/cactus-flower.jpg");
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #E5E7EB;
    width: 35vw;
    height: 100vh;
    padding-bottom: 55vh;
    padding-top: 25vh;
    justify-content: center;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 35vw;
    height: 120px;
}

#odin {
    color: white;
    font-size: 100px;
}

